html{
    scroll-behavior: smooth;
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #333;
    min-height: 100%;
    display: grid;
    grid-template-rows: ifr auto;
}

img{
    max-width: 100%;
    height: auto;
}

*  {
    box-sizing: border-box;
}
