.capabilities{
    background-color: $mainBlue;
    color: #fff;
    padding-top: 8px;
    @mixin clearFix;
    margin-bottom: 0;
    
    h2{
      color: #fff;
    }

 

  &__ul{
    
        list-style-type: none;
        font-size:0.9rem;
        line-height: 1.65;
        font-weight: 300;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);

        
        
        @mixin atSmall{
          font-size: 1.125rem;
      }
  }
  

  &__list{
   text-align: center;

  }
 
    &__list2{
     padding-bottom: 20px;
     padding-left: 0;



    }

  li{
      padding-bottom: 10px;
  }

 span{
    font-size: 1.1rem;
    color: $mainOrange;
    font-weight: 400;

    @mixin atMedium{
      font-size: 1.9rem;
    }
  }
 

}



        
