.large-hero {
    position: relative;
    border-bottom: 10px solid $mainBlue;



    &__text-content{
        padding-top: 80px;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align:center;
        transform: translateY(-50%);
        
        
    }
    &__image{
        display:block;
    }

    &__text{
        color:#fff;
        font-size:1.1rem;
        font-weight: 300;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, .1);
    
        @mixin atSmall{
            font-size:1.875rem;
            font-weight: 200;
        }
    }
}