.modal{
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
    transition:  all .3s ease-out;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 5;
    display: flex;
    overflow: scroll;
   


    &--is-visible{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }


    &__inner{
        margin-top: -200px;
        margin-left: 0;
      

        @mixin atMedium{
            flex: 1;
            margin: -180 auto;
        }
    }

    &__description{
        text-align: center;
        font-size: .8rem;
        font-weight: 300;
        line-height: 1.65;

        @mixin atMedium{
            font-size: 1.3rem;
        }

    }

    &__close{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 2rem;
        color: $mainBlue;
        transform: scaleX(1.2);
        transform-origin: 100% 0;
        cursor: pointer;

        &:hover{
            color: $mainOrange;
        }
    
    }

    form{
       
        font-size: .7rem;
        width: 60%;
        margin-left: 40px;
       
        @mixin atMedium{
            text-align: center;
             width :100%;
             font-size: 1rem;

        }
    }
   

    input{
        padding: 5px;
        margin:  5px; 
    }

    input[type=submit]{
       margin-top: 20px;
       padding:10px 30px;
    }

    p{
        font-size: .8rem;

        @mixin atMedium{
            font-size: 1rem;
        }
    }

    h2{
        

        @mixin atMedium{
            font-size: 1.9rem;
        }
    }

  

    .wrapper--narrow{
            width: 85%;
            overflow: hidden;
           
        
            @mixin atMedium{
                width: 60%;
                margin: 250px auto;
            }
           
          
    
    }

    form {
        padding-left: 100px;
        padding-right: 100px;
    }

    @media only screen and (max-width: 600px) {
        form {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

}   