.custom-modal {
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    /* padding-left: 200px;
    padding-right: 200px; */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
    /* background-color: rgb(0,0,0); Fallback color */
    /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
    background-color: white;
    
    /* margin-left: 20%;
    margin-right: 20%; */

    text-align: center;
    display: none;

}



.custom-modal .close-modal {
    text-align: right;
    margin-top: 50px;
    margin-right: 50px;
}

.custom-modal .close-modal span {
    color:white;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
}


.contact input, textarea {
    width: 100%;
    text-align: center;
}

.contact input {
    height: 30px;
    margin-bottom: 20px;
}

.contact button {
    width: 100%;
    margin-top: 20px;
    background-color: rgb(213, 149, 65);
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
}

.contact form {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}


@media only screen and (max-width: 700px) {
    .custom-modal {
        width: 100%;
    }

    .contact form {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}