.page-section{


    
    &__no-b-padding-until-large{
        padding-bottom: 0;
    
    
        @mixin atLarge{
            padding-bottom: 4.5rem;
        }
    }

    &__blue{
        background-color: $mainBlue;
    }

    &__grey{
        background-color: rgba(147, 150, 159, .2);
        margin-top: 10px;
    }
}