.primary-nav{
    padding-top: 10px;
    

    @mixin atMedium{
        padding-top: 0;
    }


    &__pull-right{

        @mixin atMedium{
            float: right;

        }
         
    }

    ul{
        margin: 0;
        padding: 0;
        @mixin clearFix;
    }

    li{
       list-style: none;
       display: inline-block;
       padding-right: 7px;

       @mixin atMedium{
        float: left;
        display: block; 
       padding-right: 20px;

       }
    }

    li:last-child{
        padding-right: 0;

        @mixin atMedium{
            padding-right: 20px;
        }
    }

    a{
        color: #fff;
        text-decoration: none;
        font-weight: 400;
        display: block;
        padding: 4px 8px;
        font-size: .6rem;
        background-color: rgba($mainBlue, .9);

        @mixin atMedium{
            color: #0C1245;
            padding: 12px 0; 
            font-size: 1.1rem; 
            font-weight: 500;  
            background-color: transparent;

            .header--dark & {
                color: #fff;
                font-weight: 300;
             }
        }
    }
}