.site-footer{
    padding-top: 20px;
    background-color: rgba($mainBlue, .3);
    @mixin clearFix;

    @mixin atMedium{
        padding-top: 30px;
    }
    
    &__text{
        float: left;
        text-align: center;
        font-weight: 300;
        font-size: .5rem ;
        width: 90%;
        display: inline-block;

        @mixin atMedium{
            font-size: 1rem;
            width: 68%;
           
        }
       
    }


    a{
        padding-right: 7px;
        text-decoration: none;
        text-transform: uppercase;
        float: left;
        color: $mainBlue;
        font-weight:600;
        font-size:.5rem;
        text-align: center;
        margin-bottom: 4px;

        @mixin atMedium{
            padding-right: 30px;
            font-size: 1rem;
            padding-left:0;
        }
    }

    .btn{
        text-transform: capitalize;
        padding: .40rem .45rem;
        color: #fff;
        font-weight: 400;
        
        
        
    }

    &__btn{
        margin-top: 0;
        display: inline-block;

        @mixin atMedium{
            display:inline;
        }
    }

  

    &__copy{
        background-color: $mainBlue;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        font-weight: 300;
        font-size: .5rem;

        @mixin atMedium{
            font-size:1rem;
        }
    }

   
    &__social-icons{
        display: inline-block;
        width: 30%;

        @mixin atMedium{
            width: 20%;
            float: right;
        }
        
   
        }
}

